$def with (tplData)
$:tplData['render'].header(tplData)

<form id="msform">
	<br /><br />
	<!-- fieldsets -->
	<fieldset>
		<h2 class="fs-title">登录</h2>
		<h3 class="fs-subtitle">输入用户名和密码，第一次登录自动创建账户</h3>
		<input type="text" id="name" name="name" placeholder="Username" />
		<input type="password" id="pass" name="pass" placeholder="Password" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
</form>


<script type="text/javascript" src="$tplData['static']/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="$tplData['static']/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="$tplData['static']/js/md5-min.js"></script>
<script type="text/javascript" src="$tplData['static']/js/script.js"></script>
 
</body>
</html>