$def with (tplData)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>OICQ 聊天室 </title>
<link rel="stylesheet" media="screen" href="$:tplData['static']/css/style.css" />
<script type="text/javascript">
var root = "$:tplData['root']";
</script>
</head>

<form id="talk">
	<!-- fieldsets -->
	<fieldset>
		<h2 class="fs-title">聊天</h2>
		<h3 class="fs-subtitle">Your Name: $:tplData['name'] IpAddr: $:tplData['ipaddr'] <a href="$:tplData['root']login/quit">退出登录</a></h3>
		<textarea class="fs-showtalk" id="recvbox" readonly></textarea>
		<textarea class="fs-textarea" id="sendbox"></textarea>
		<input type="button" id="send" class="action-button" value="发送(Ctrl+Enter)" />
		<input type="button" id="log" class="action-button" value="查看记录" name="log-close" />
		<h3 class="fs-subtitle">Django lets you write web apps in Django. TurboGears lets you write web apps in TurboGears. Web.py lets you write web apps in Python.<br />I'm pride of using <a href="http://webpy.org/" target="_blank">Web.py</a>! Powered by <a href="http://www.leavesongs.com" target="_blank">Phithon</a> For <a href="http://www.aaronsw.com/" target="_blank">Aaron Swartz</a></h3>
	</fieldset>
</form>


<script type="text/javascript" src="$:tplData['static']/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="$:tplData['static']/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="$:tplData['static']/js/msg.js"></script>
 
 
</body>
</html>